@media screen and (max-width: 1150px) {
  #nav-right button {
    width: 200px;
    height: 40px;
  }
  #contact-sales-btn {
    display: none;
  }
  #menu {
    text-transform: uppercase;
    margin-left: 30px;
    display: flex;
    align-items: center;
  }
  #menu p {
    font-size: 17px;
  }

  header {
    position: relative;
  }
  .patrons-top {
    height: 350px;
    margin: 80px 0;
    width: 90%;
  }
  .patrons-info {
    width: 57%;
  }
  #nav-middle {
    display: none;
  }
  #S2-1 {
    padding: 0;
  }
  #S2-1-left p {
    text-align: left;
  }
  .comment h3 {
    text-align: center;
    font-size: 100%;
  }
  #S2-3 h1 {
    font-size: 25px;
    padding: 0 20px;
  }
  #S2-3 h4 {
    width: 90%;
  }
  #fast-link {
    justify-content: space-around;
  }
  .hide2 {
    display: none;
  }
  #S3 {
    margin-top: 40px;
  }
  #S3 div {
    border: 2px solid red;
    width: 80%;
    height: fit-content;
  }
  #S3 p {
    margin-top: 10px;
    width: 95%;
    margin-bottom: 20px;
  }
  #S4 {
    margin-top: 20px;
    padding-bottom: 10px;
    height: 700px;
  }
  .laptop {
    width: 45%;
    transform: translateX(-34%);
  }
  .i-pad {
    width: 80%;
    margin-left: 10%;
  }
  .i-pad video {
    padding: 35px;
  }
  #comp {
    align-self: flex-end;
  }
  #S5-1 {
    border: 1px solid rgb(68, 0, 255);
    height: fit-content;
  }
  #S5-1 img {
    height: fit-content;
    transform: translateX(20%);
    margin-top: -350px;
  }
  #S5-1 h1 {
    margin-top: 10px;
    font-size: 25px;
    padding: 0 20px;
  }

  #S6-2 {
    transform: translate(90%);
  }
  .report {
    transform: translate(-8%);
    width: 120%;
  }
  .report-com {
    width: 70%;
    margin-left: 2vw;
  }
  .ecommerce {
    margin-left: 10%;
  }
  .S10-middle {
    width: 60%;
  }

  #S12 {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: flex-end;
  }
  .S12-left {
    padding-bottom: 50px;
    width: 90%;
  }
  .S14-top {
    margin-bottom: 30vh;
  }
  .S14-svg {
    height: 60vh;
    clip-path: ellipse(100% 100% at 25% 15%);
  }
  .S14-top h1 {
    width: 70%;
  }
  .abov5 {
    margin-top: 20px;
  }
  .S14-top-break p {
    margin-top: 0px;
  }
  .S14-top-break img {
    width: 40%;
  }
  .S15-bottom ul {
    padding: 0 9%;
  }
  figcaption {
    width: fit-content;
    border: 1px solid;
    transform: translate(-250px, 350px);
  }
  figcaption img {
    transform: scaleX(-1);
    rotate: 270deg;
  }
  .unlock-left {
    margin-left: 10%;
  }
}

@media screen and (max-width: 990px) {
  .patrons-top {
    width: 75%;
  }
  .patrons-info {
    width: 100%;
    justify-content: space-between;
  }
  .patrons-p {
    width: 50%;
    margin-top: 50px;
  }
  .patrons-span {
    flex-direction: row;
    height: 30%;
    align-items: center;
    justify-content: space-between;
  }
  .patrons-span .blue-link {
    width: 70%;
    text-align: right;
  }
  .patrons-image {
    position: absolute;
    height: 70%;
    width: 40%;
    display: flex;
    margin-left: 60%;
  }
  .patrons-bottom h1 {
    width: 75%;
  }
  .patrons-bottom p {
    width: 80%;
    margin-bottom: 20px;
  }
  #head {
    display: none;
  }
  #nav-right button {
    height: 35px;
  }
  .comment img {
    width: 120px;
    height: 20px;
  }
  .abov3 h1 {
    width: 80%;
  }
  #S2-1-left p {
    text-align: center;
  }
  #S2-3 h4 {
    width: 100%;
  }
  #comp {
    display: none;
  }
  .laptop {
    transform: translateX(-34%);
    margin-bottom: 180px;
  }
  #S5-1 img {
    width: 1100px;
    transform: translateX(0%);
  }
  .S6-svg {
    height: 85vh;
  }
  #S6-1 {
    padding-top: 30px;
  }
  #S6-1 h1 {
    width: 85%;
  }
  #S6-1 p {
    width: 49%;
  }
  .scanning {
    align-items: flex-end;
    width: 100%;
    height: 230px;
  }
  .scrol {
    margin-bottom: 0px;
    height: 250px;
  }
  .phon-snap {
    margin-left: 25.5%;
    width: 170px;
    height: 85%;
  }
  #S6-2 {
    width: 62%;
    transform: translate(90%);
  }
  .ecommerce {
    margin-left: 0%;
  }
  .E-item {
    margin-right: 20px;
  }
  .S10-middle {
    width: 80%;
  }
  .S10-bottom {
    width: 70%;
  }
  #woo-commerce {
    margin-top: 120px;
  }
  .list-of-other-users {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 50px;
  }
  #S12 {
    display: flex;
    align-items: flex-end;
  }
  .S12-left,
  .S12-right {
    transform: translate(50px);
  }
  .S12-right img {
    height: 350px;
  }
  #book {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .book-btn {
    margin-right: 0px;
  }
  .S14-top-break {
    justify-content: space-between;
  }
  .S14-top-break img {
    width: 50%;
  }
  .S14-top-break div {
    width: 45%;
  }
  .S14-bottom {
    margin: 0 60px;
  }
  .S14-bottom-left {
    width: 60%;
    margin-right: 40px;
  }
  .S14-bottom-left p {
    font-size: 18px;
    margin-bottom: 70px;
  }
  .CT-logo {
    margin-top: 40px;
    transform: translateX(-30px);
  }
  .gas-photo {
    height: 250px;
    width: 250px;
    margin-bottom: 100px;
  }
  .S15-bottom h1 {
    width: 70%;
  }
  .S15-bottom ul {
    padding: 0 13%;
  }
  .S15-vid-mid video {
    width: 100%;
  }
  .top-footer {
    grid-template-columns: 90%;
    row-gap: 100px;
    margin-top: 5vh;
  }
  .TF-left {
    grid-template-columns: auto;
  }

  .TF-items .fa-chevron-down {
    display: inline-block;
  }

  .VS {
    display: none;
  }
  #D1,
  #D2,
  #D3 {
    padding-bottom: 0px;
  }

  .TF-items > h3 {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
  }
  .TF-items ul {
    margin-left: 20px;
    margin-top: 25px;
  }
  .TF-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media screen and (max-width: 769px) {
    .hide1 {
      display: inline;
    }
    .hide3 {
      display: none;
    }
    #head {
      display: none;
    }
    .sub-heading {
      font-size: 40px;
      padding: 0 20px;
    }
    header {
      position: relative;
    }
    .tag {
      display: none;
    }
    #S1 {
      padding-top: 0px;
      flex-direction: column-reverse;
      justify-content: space-between;
      height: fit-content;
    }
    #S1-right img {
      transform: translateX(0%);
    }
    #S1-left {
      z-index: 0;
      margin: 40px 0;
      position: relative;
    }
    #S1-writeup {
      height: fit-content;
      margin-top: 0px;
      margin-left: 0px;
      position: relative;
      width: 100%;
      text-align: center;
    }
    #signin-btn {
      margin-top: 30px;
      width: 85vw;
    }

    #S2 {
      transform: translateY(0px);
      position: relative;
      z-index: 0;
    }
    #S2-1 {
      height: 35vh;
      flex-direction: column;
      align-items: center;
    }
    #S2-1-left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 90%;
    }
    #S2-1-left h1 {
      font-size: 25px;
      margin-bottom: 10px;
    }

    #S2-1-right button {
      background-color: #41af4b;
      height: 50px;
      width: 200px;
      font-size: 17px;
      cursor: pointer;
    }
    #S2-2 {
      display: grid;
      gap: 50px 0px;
      grid-template-columns: 20vw 20vw;
      text-align: center;
      z-index: 0;
    }

    .comment h3 {
      text-align: center;
      margin-top: 0px;
      font-size: 90%;
    }
    #fast-link {
      font-size: 90%;
    }
    #S3 p {
      width: 110%;
      margin-bottom: 20px;
    }
    .patrons-top {
      width: 80%;
      height: fit-content;
    }
    .patrons-info {
      width: 70%;
      justify-content: space-between;
    }
    .patrons-p {
      width: 65%;
      margin-top: 20px;
    }
    .patrons-span {
      flex-direction: column;
      align-items: flex-start;
    }
    .patrons-span .blue-link {
      width: 100%;
      text-align: left;
    }
    .patrons-image {
      height: 65%;
      width: 45%;
      margin-left: 55%;
    }
    .abov {
      justify-content: center;
    }
    #S6-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      padding-left: 0px;
    }
    #S6-1 h1 {
      margin-bottom: 60%;
    }
    #S6-1 h1,
    #S6-1 p {
      width: 80%;
    }
    .scanning {
      align-items: flex-end;
      width: 100%;
      height: 230px;
    }
    .phon-snap {
      height: 70%;
    }
    .scrol {
      margin-bottom: 0px;
      height: 50%;
    }
    #S6-2 {
      width: 70%;
      transform: translate(0%);
    }
    .abov2 {
      padding: 20px 20%;
      align-items: flex-start;
    }
    .patrons-bottom h1 {
      width: 100%;
      font-size: 40px;
      padding: 0px;
      text-align: start;
    }
    .patrons-bottom p {
      width: 90%;
      text-align: start;
    }
    .report {
      transform: translate(0%);
      flex-direction: column-reverse;
      height: fit-content;
    }
    .abov3 {
      padding-top: 40px;
    }
    .rep-svg {
      height: 110vh;
      margin-bottom: 40%;
    }
    .report-com {
      margin-left: 0;
      width: 80%;
      height: fit-content;
      text-align: center;
      align-items: center;
    }
    .report-img {
      transform: translate(-14%);
    }
    .report-img img {
      width: 500px;
      height: 400px;
    }
    .sub-intergrates {
      transform: translateY(480px);
    }
    .abov4 {
      margin-top: 50px;
    }
    .ecommerce {
      position: relative;
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
    }
    .E-item {
      margin-right: 0px;
    }
    .sh {
      position: absolute;
      margin-left: 50%;
      height: 160px;
      z-index: 1;
    }
    .ph {
      z-index: 1;
      margin-left: 3%;
      position: absolute;
    }
    .ta {
      margin-bottom: 20px;
      margin-left: 10%;
      position: absolute;
      height: 250px;
      width: fit-content;
    }
    .la {
      margin-bottom: 30px;
      margin-left: 25%;
      height: 350px;
      width: 700px;
    }
    .S10-middle {
      width: 80%;
      text-align: start;
    }
    .S10-middle h1 {
      text-align: start;
      padding: 0px;
    }
    .S10-bottom {
      transform: translateX(-38px);
      margin-top: 10px;
      justify-content: flex-start;
    }
    #woo-commerce {
      transform: translateX(-80px);
    }
    #ecwid {
      transform: translateX(-70px);
    }
    .S12-left {
      width: 100%;
      padding: 70px;
    }
    .S12-right {
      display: none;
    }
    #book {
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #book button {
      width: 100%;
      margin-right: 0px;
    }
    .S13-top h1 {
      font-size: 40px;
      padding: 0 70px;
    }
    .trust-grid {
      grid-template-columns: auto;
      row-gap: 30px;
      padding: 30px 20px;
    }
    .trust-reasons {
      align-items: center;
    }
    .S13-bottom {
      display: none;
    }
    .S14-bottom {
      display: none;
    }
    .abov5 h1 {
      width: 70%;
      margin-right: 100px;
      text-align: start;
      font-size: 35px;
    }
    .S14-top-break {
      flex-direction: column;
      transform: translateX(0);
      align-items: center;
    }
    .S14-top-break img {
      width: 80%;
      transform: translate(-20%);
      margin-right: 20%;
    }
    .S14-top-break div {
      width: 70%;
    }
    .play-text {
      width: 70%;
      padding-bottom: 50px;
    }
    .S15-bottom ul {
      display: grid;
      grid-template-columns: auto;
      gap: 25px 2%;
    }
    .S16-top {
      display: none;
    }
    .S16B-top p {
      width: 70%;
    }
    .S16-bottom {
      width: 100%;
    }
    .S16B-top p {
      width: 90%;
    }
    .S16B-bottom {
      flex-direction: column;
    }
    .S16B-bottom div {
      width: 90%;
      height: fit-content;
    }

    .fixed-footer {
      display: block;
      position: fixed;
    }
  }
  @media screen and (max-width: 560px) {
    #black-note div {
      flex-direction: column;
    }
    #menu span {
      display: none;
    }
    #S1-writeup h1 {
      font-size: 39px;
      text-align: center;
    }
    #S1-writeup p {
      margin: 30px 20px 0;
    }
    #S2-1 {
      height: 45vh;
    }
    #S2-2 {
      gap: 0px;
    }
    .patrons-top {
      width: 95%;
    }
    .patrons-info {
      width: 100%;
      justify-content: space-between;
    }
    .patrons-p {
      margin-bottom: 30px;
      width: 50%;
      margin-top: 30px;
    }
    .patrons-span {
      flex-direction: column;
      align-items: flex-start;
    }
    .patrons-span .blue-link {
      width: 100%;
      text-align: left;
    }
    .patrons-image {
      height: 65%;
      width: 45%;
      margin-left: 55%;
    }
    .ecommerce {
      position: relative;
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
    }
    .sh {
      position: absolute;
      margin-left: 30%;
      height: 160px;
      width: fit-content;
      z-index: 1;
    }
    .la {
      margin-bottom: 30px;
      margin-left: 15%;
      height: 350px;
      width: 700px;
    }
    .abov2 {
      padding: 20px 3%;
      align-items: flex-start;
    }
  }
}
